[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["async"], version = "*"}
flask-cors = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
redis = "*"
flask-script = "*"
flask-migrate = "*"
pymysql = "*"
loguru = "*"
install = "*"

[dev-packages]

[requires]
python_version = "3.9"
